<div class="p-10">
  <hlm-table class="w-full min-w-[400px]">
    <hlm-caption>A list of your shopping cart.</hlm-caption>
    <hlm-trow>
        <hlm-th class="w-52">Name</hlm-th>
        <hlm-th class="flex-1">Quantity</hlm-th>
        <hlm-th class="w-60">Price</hlm-th>
        <hlm-th class="justify-end w-40">Remove</hlm-th>
    </hlm-trow>
    @for (item of cartItems; track item.item.id) {
      <hlm-trow>
        <hlm-td truncate class="font-medium w-52">{{ item.item.name }}</hlm-td>
        <hlm-td class="flex-1">{{ item.quantity }}</hlm-td>
        <hlm-td class="w-60">{{ item.item.price }}$</hlm-td>
        <hlm-td class="justify-end w-40"><button (click)="removeItem(item.item.id)">Remove</button></hlm-td>
      </hlm-trow>
    } 
    <hlm-trow class="bg-muted/50 hover:bg-muted">
      <hlm-td truncate class="w-[100px] font-semibold">Total</hlm-td>
      <hlm-td class="w-40"></hlm-td>
      <hlm-td class="flex-1"></hlm-td>
      <hlm-td class="justify-end w-40">{{this.totalAmount}}$</hlm-td>
    </hlm-trow>
  </hlm-table>
  <button hlmBtn (click)="order()" class="text-white">Order</button>
</div>
