<header class="block sticky w-full top-0 z-40 bg-background/95 bg-blur-lg p-2 sm:px-4 border-b border-border">
  <div class="flex items-center justify-between w-full mx-auto max-w-screen-xl">
    <nav class="flex items-center">
      <a class="mr-3 hidden p-1.5 sm:flex disabled:opacity-50 disabled:pointer-events-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-ring font-medium h-10 hover:bg-accent hover:text-accent-foreground items-center justify-center ring-offset-background rounded-md text-sm transition-colors" [routerLink]="['home']">
        <img src="assets/logoEO1.png" class="h-12 w-auto "/>
      </a> <!-- DODATI LOGO OVDJE -->
      <div class="hidden sm:flex sm:space-x-2">
        <a class="disabled:opacity-50 disabled:pointer-events-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-ring font-medium h-9 hover:underline inline-flex items-center justify-center opacity-70 px-3 ring-offset-background rounded-md text-primary text-lg transition-colors underline-offset-4 cursor-pointer" routerLink="food" routerLinkActive="active">Food</a>
        <a class="disabled:opacity-50 disabled:pointer-events-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-ring font-medium h-9 hover:underline inline-flex items-center justify-center opacity-70 px-3 ring-offset-background rounded-md text-primary text-lg transition-colors underline-offset-4 cursor-pointer" routerLink="drink" routerLinkActive="active">Drinks</a>
        <a class="disabled:opacity-50 disabled:pointer-events-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-ring font-medium h-9 hover:underline inline-flex items-center justify-center opacity-70 px-3 ring-offset-background rounded-md text-primary text-lg transition-colors underline-offset-4 cursor-pointer" routerLink="about" routerLinkActive="active">About us</a>
      </div>
    </nav>
    <div class="flex space-x-2">
      <span class="sr-only"></span>
      <a class="disabled:opacity-50 disabled:pointer-events-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-ring font-medium h-9 hover:bg-accent hover:text-accent-foreground inline-flex items-center justify-center px-3 ring-offset-background rounded-md text-sm transition-colors" routerLink="login">
        <hlm-icon name="lucideLogIn" size="sm"/>
      </a>
      <buttom (click)="logout()" hlmBtn class="hover:cursor-pointer" variant="destructive" >Log out</buttom>
      <a class="disabled:opacity-50 disabled:pointer-events-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-ring font-medium h-9 hover:bg-accent hover:text-accent-foreground inline-flex items-center justify-center px-3 ring-offset-background rounded-md text-sm transition-colors"  routerLink="cart">
        <hlm-icon name="lucideShoppingCart" size="sm"/>
      </a>
    </div>
  </div>
</header>
