<div class="block p-4 pb-12 pt-6 sm:pb-24 sm:pt-12">
  <section class="pt-6 pb-8 space-y-6 md:pb-12 md:pt-10 lg:py-32">
    <div class="mx-auto flex flex-col items-center gap-4 text-center max-w-[64rem]">
      <h1 class="text-3xl font-heading sm:text-5xl md:text-6xl lg:text-7xl">Sorry, but we could not find the site you are looking for.</h1>
      <a class="cursor-pointer hover:animate-pulse hover:underline font-semibold block" [routerLink]="['/home']" ><h2>Back to Home.</h2></a>
    </div>
  </section>
</div>
